.index {
  background-image: url('../../assets/imgs/bg-2.jpg');
  width: 100vw;
  height: 100vh;
  background-position: bottom;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: index-fade-in .5s;
}

.index[data-fade-out=true] {
  animation: index-fade-out .5s;
}

.index > h3 {
  color: var(--white);
  font-size: 42px;
  letter-spacing: 3px;
  font-family: var(--font-family-Nunito);
  cursor: pointer;
  position: relative;
  padding: 0 10px;
}

.index > h3:hover {
  letter-spacing: 6px;
  transform: scale(1.05);
  transition: .3s all ease;
}

@keyframes index-fade-out {
  from {
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes index-fade-in {
  from {
    opacity: 1;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .index > h3:hover {
    letter-spacing: normal;
    transform: none;
  }
}