.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: var(--white);
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 4px 4px -2px rgba(0, 0, 0, 0.2);
  color: #1296db;
  user-select: none;
  z-index: 9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-Nunito);
  transition: transform .2s ease;
}

.back-to-top:hover {
  transform: scale(1.1);
  transition: transform .3s ease;
}

@media screen and (max-width: 1000px) {
  .back-to-top {
    padding: 4px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 1px solid rgba(18, 150, 219, .4);
    box-shadow: 1px 4px 4px -2px rgba(18, 150, 219, 0.2);
  }

  .back-to-top:hover {
    transform: none;
  }

  .back-to-top > span {
    display: none;
  }
}