@keyframes back-to-top {
  from {
    bottom: 0px;
    opacity: 0;
    transform: scale(0.9);
  }
  to {

  }
}

.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: var(--white);
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 4px 4px -2px rgba(0, 0, 0, 0.2);
  color: #1296db;
  user-select: none;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-Nunito);
  animation: back-to-top .2s ease;
}

.back-to-top:active {
  transform: scale(0.9);
  transition: transform .1s ease;
}

@media screen and (max-width: 1000px) {
  .back-to-top {
    padding: 6px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid rgba(18, 150, 219, .2);
    box-shadow: 1px 4px 4px -2px rgba(18, 150, 219, 0.3);
  }

  .back-to-top > span {
    display: none;
  }
}