.container {
  max-width: 1200px;
  overflow: hidden;
  margin: 1rem auto;
  padding: 1rem;
}

.card {
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--border-gery);
}

@media screen and (max-width: 1000px) {
  .container {
    margin: unset;
    padding: unset;
  }
}