.blog {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.blogs {
  flex: 3;
  padding: 0.4rem .8rem;
  margin-right: 1rem;
  /* border-radius: 5px; */
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
}

.bar {
  flex: 1;
  padding: 1rem;
}

@media screen and (max-width: 1080px) {
  .blog {
    margin: 1rem .5rem;
  }

  .blogs {
    margin: unset;
  }

  .bar {
    display: none;
  }
}

.bottom-line {
  width: 10%;
  height: 2px;
  background-color: #ddd;
  overflow: hidden;
  margin-top: 4px;
}