.audio-controls {
  background: var(--github-black);
  color: var(--white);
  font-size: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: all .5s ease-in-out;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  position: relative;
}

.audio-container .switch_icon {
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 18px;
  width: 50px;
  padding: 1px;
  text-align: center;
  background: var(--github-black);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.audio-container .switch_icon img {
  transition: all .35s ease-in-out;
}

.audio-container .controls_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 20px;
}

.audio-container .controls_img img {
  width: 32px;
  height: 32px;
}

.audio-container .controls_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-container .controls_bar img {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.audio-container .controls_bar img[name^="mid"] {
  width: 32px;
  height: 32px;
  margin: 0 6px;
}

.audio-bar {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.audio-bar .audio-bar-top {
  margin-bottom: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.audio-bar .audio-bar-bottom {
  display: flex;
  justify-content: start;
  align-items: center;
}

.audio-bar-before {
  width: 300px;
  height: 8px;
  background: var(--dark);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.audio-bar-after {
  width: 0px;
  height: 8px;
  background: var(--fulvous);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}


.audio-bar-time-top {
  margin: 0 1rem;
  display: inline;
}

@media screen and (max-width: 600px) {
  .audio-container {
    justify-content: space-between;
    background: var(--github-black);
  }

  .controls_img {
    display: none;
  }

  .audio-bar-time {
    display: none;
  }



  .audio-bar-bottom .audio-bar-before, .audio-bar-after {
    height: 10px;
  }

  .audio-container .controls_bar img[name^="mid"] {
    width: 32px;
    height: 32px;
    margin: 0 2px;
  }
}
