.container table {
  border-radius: 4px;
  border-spacing: 0;
  background-color: var(--white);
  margin: 0 auto;
  overflow: hidden;
}

.container table thead {
  font-weight: bold;
  font-size: 1.6rem;
  background-color: #f39c12;
  text-align: start;
}

.container table tbody tr:hover {
  background-color: #ecf0f1;
}

.container table tr td {
  padding: 4px 8px;
  font-size: 1.4rem;
}