ul {
  list-style: none;
}

header {
  background-image: url('../../assets//imgs/bg.jpg');
  width: 100%;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 60px;
  width: 100%;
  z-index: 10;
  font-size: 16px;
  position: fixed;
  color: var(--white);
  font-weight: bold;
}

.mask {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 9;
  background: var(--github-black);
  transition: all .5s ease-in-out;
}

.nav-menu {
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.nav-menu li {
  display: flex;
  align-items: center;
  margin-left: 17px;
  position: relative;
}

.nav-menu li .line {
  position: absolute;
  top: 28px;
  width: 0px;
  border-bottom: 3px #F1FAEE solid;
  transition: .3s ease-in-out;
}

.nav-menu li:hover .line {
  width: 100%;
  transition: .3s ease-in-out;
}

.nav-menu li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu-img {
  display: none;
}

.header-content {
  text-align: center;
  margin-bottom: 50vh;
}

.header-content h1 {
  font-size: 4.5rem;
  font-family: 'Monaco', 'HarmonyOS_Sans_Regular', "Microsoft Yahei", 'Times New Roman', Times, serif;
  color: #1D3557;
}

.header-content .h-text {
  font-size: 1.8rem;
  font-family: 'Monaco', 'HarmonyOS_Sans_Regular', "Microsoft Yahei", 'Times New Roman', Times, serif;
  color: var(--sunray);
}

.hiddenInMobile {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.dropdown-img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  transition: all .2s ease-in-out;
}

.hiddenInMobile:hover .dropdown-img {
  transform: rotate(0.25turn);
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 0 40px;
  }

  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: calc(100vh - 60px);
    background-color: var(--black);
    z-index: 1;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
  }

  .nav-menu li {
    margin: 2vh;
    /* padding: 8px 10px; */
  }

  .menu-img {
    display: block;
  }

  .hiddenInMobile {
    display: none !important;
  }

  .header-content h1 {
    font-size: 4rem;
  }

  .header-content .h-text {
    font-size: 1.6rem;
  }
}