header {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  z-index: 9;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.header-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin: 0 auto;
}

header .menu {
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item {
  margin: 0 0.4rem;
  padding: 0.3rem 1.2rem;
  font-weight: bold;
  font-size: 2.2rem;
  /* color: rgba(18, 150, 219, 0.7); */
  cursor: pointer;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  transition: all 0.3s ease;
  /* background: rgba(115, 119, 122, 0.3); */
}

a {
  text-decoration: none;
  color: var(--white);
}