ul {
  list-style: none;
}

header {
  background-image: url('../../assets/imgs/bg.jpg');
  background-color: var(--github-black);
  width: 100%;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all .5s ease-in-out;
}

header .header-mask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 60px;
  width: 100%;
  z-index: 10;
  font-size: 16px;
  position: fixed;
  color: var(--white);
  font-weight: bold;
}

.mask {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background: var(--github-black);
  transition: all .5s ease-in-out;
  z-index: 2;
}

.nav-menu {
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.nav-menu > li {
  display: flex;
  align-items: center;
  margin-left: 17px;
  position: relative;
}

.nav-menu > li .line {
  position: absolute;
  top: 28px;
  width: 0px;
  border-bottom: 3px #F1FAEE solid;
  transition: .3s ease-in-out;
}

.nav-menu > li:hover .line {
  width: 100%;
  transition: .3s ease-in-out;
}

.nav-menu > li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.nav-menu > li:hover img {
  transform: rotate(360deg);
  transition: transform .5s ease;
}

.menu-img {
  display: none;
}

header .header-content {
  text-align: center;
  z-index: 3;
}

header .header-content h1 {
  font-size: 3.6rem;
  font-family: 'Nunito-Regular', 'HarmonyOS_Sans_Regular', "Microsoft Yahei", 'Times New Roman', Times, serif;
  color: rgba(232, 135, 30, 0.85);
}

header .header-content .h-text {
  font-size: 1.8rem;
  font-family: 'Nunito-Regular', 'HarmonyOS_Sans_Regular', "Microsoft Yahei", 'Times New Roman', Times, serif;
  color: var(--white);
}

header .header-content .h-text-small {
  font-size: 1.4rem;
  font-family: 'HarmonyOS_Sans_Regular', "Microsoft Yahei", 'Times New Roman', Times, serif;
  color: var(--white);
}

.hiddenInMobile {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.dropdown-img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  transition: all .2s ease-in-out;
}

.hiddenInMobile:hover .dropdown-img {
  transform: rotate(0.25turn);
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1080px) {
  nav {
    padding: 0 40px;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 60px 60px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: end;

    position: absolute;
    top: 100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
    transform: translateY(-100%);
    transition: 0.4s ease-in-out;
    height: calc(100vh - 60px);
  }

  .nav-menu li {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--github-black);
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .nav-menu li:nth-child(1) {
    border-top-left-radius: 8px;
  }

  .nav-menu li:nth-child(2) {
    border-top-right-radius: 8px;
  }



  .nav-menu > li .line {
    display: none;
  }

  .menu-img {
    display: block;
  }

  .hiddenInMobile {
    display: none !important;
  }

  .header-content h1 {
    font-size: 4rem;
  }

  .header-content .h-text {
    font-size: 1.6rem;
  }
}