.top-line {
  background-color: var(--sunray);
  height: 4rem;
  border-radius: 2px;
}

.top-line h2 {
  text-transform: uppercase;
  padding: 0 1rem;
  line-height: 4rem;
  font-size: 1.6rem;
  font-style: italic;
  font-family: 'Nunito-Regular', Georgia, Times, monospace;
}

.blogs-more {
  display: flex;
  justify-content: end;
  align-items: center;
}

.blogs-more span {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  font-family: 'Nunito-Regular', Georgia, Times, monospace;
  cursor: pointer;
}

.blogs-more span:hover {
  color: var(--sunray);
  text-decoration: underline;
}