.message-container {
  margin: 10px auto;
  padding: 0 10px;
  max-width: 860px;
}

.message-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 1.6rem;
}

.message-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message-info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.message-info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 10px -6px rgb(0 0 0 / 80%);
}

.message-item:hover .message-info > img {
  transform: rotate(360deg);
  transition: transform .6s linear;
} 

.message-info .message-info-name {
  margin-left: 10px;
  flex: 1;
  overflow: hidden;
}

.message-info .message-info-name > h4 {
  font-size: 1.5rem;
  color: var(--sunray);
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-info .message-info-name > span {
  font-size: 1.2rem;
  color: rgba(0,0,0,.35);
  margin-top: 2px;
  letter-spacing: 0px;
  white-space: pre;
}

.message-body {
  padding: 16px 8px;
  cursor: default;
  overflow: hidden;
  position: relative;
}

.message-body .message-content {
  max-height: 200px;
  overflow: hidden;
}

.message-body > input[id*=readmore] {
  display: none;
}

.message-body > input[id*=readmore] + label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--back-color) 70%);
}

.message-body > input[id*=readmore] + label::after {
  content: "展开更多";
  font-size: 1.2rem;
  background-color: #333;
  color: var(--white);
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 6px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3 );
  cursor: pointer;
}

.message-body > input[id*=readmore] + label:hover:after {
  background-color: rgba(0, 0, 0, 1);
}

.message-body > input[id*=readmore]:checked + label {
  display: none;
}

.message-body > input[id*=readmore]:checked ~ .message-content {
  height: auto;
}


.message-container .respond {
  margin: 20px 0 80px;
}

.message-container .respond textarea {
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  padding: 16px 20px;
  margin: 10px 0;
  font-family: var(--font-family);
  font-size: 1.4rem;
  position: relative;
  box-shadow: 0 1px 10px -6px rgb(0 0 0 / 80%);
}

.message-container .respond textarea::placeholder {
  font-family: var(--font-family);
}

.message-container .respond textarea:focus {
  border: 1px solid var(--sunray);
}

.message-container .respond form .bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
}

.message-container .respond form .bottom-info > input {
  height: 40px;
  margin-left: 20px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 10px -6px rgb(0 0 0 / 80%);
}

.message-container .respond form .bottom-info > input[type="submit"] {
  background-color: var(--sunray);
  color: #fff;
  cursor: pointer;
}

.message-container .respond form .bottom-info > input:not([type="submit"]) {
  flex: 1;
}

.message-container .respond form .bottom-info > input:focus {
  outline: 1px solid var(--sunray);
}

.message-container .respond form .bottom-info img {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 1px 10px -6px rgb(0 0 0 / 80%);
}

@media screen and (max-width: 1000px) {
  .message-container .respond form .bottom-info {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
}
