.article-container {
  max-width: 1000px;
  overflow: visible;
  position: relative;
  transform: none;
}

.article-header {
  font-size: 1.6rem;
  margin: 1rem 1rem 0 1rem;
}

.article {
  padding: 1rem 2rem;
  border-radius: .8rem;
  box-shadow: var(--box-shadow);
  margin: 0 0 1rem 0;
  box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.2), -3px -3px 4px -2px rgba(0, 0, 0, 0.2);
}

.article code {
  font-family: 'Monaco', 'Hack', Consolas, monospace !important;
}

.markdown-body .highlight pre, .markdown-body pre {
  background: #f5f5f5;
  position: relative;
}

.markdown-body ul {
  list-style: square;
}

.markdown-body .highlight pre::after, .markdown-body pre ::after {
  content: 'copy';
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--sunray);
  padding: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

.markdown-body .highlight pre::after:active, .markdown-body pre::after:active {
  background-color: var(--github-black);
}

.markdown-body .highlight blockquote::before, .markdown-body blockquote::before {
  content: '📃';
}

.markdown-body h1::before, h2::before, h3::before {
  content: "before";
  top: -100%;
  background-color: var(--sunray);
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.article-footer > .item {
  white-space: pre;
  cursor: pointer;
}

.article-footer > .item:hover {
  color: var(--sunray);
  font-weight: bold;
}

.reprint {
  background-image: url('../../../../assets/imgs/tmp_blog.jpg');
  background-position: center;
  background-size: cover;
  border-radius: .4rem;
  overflow: hidden;
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
  color: var(--white);
  box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.2), -3px -3px 4px -2px rgba(0, 0, 0, 0.2);
}

.reprint div {
  padding: 1.6rem 1rem;
  backdrop-filter: blur(3px);
}

.reprint a {
  color: var(--sunray);
}

.reprint a:hover {
  text-decoration: underline;
}

@keyframes directory {
  from {
    transform: scale(0.2) translateX(-200%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.article-directory {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  width: 180px;
  background-color: var(--white);
  position: fixed;
  margin-left: -200px;
  top: calc(36vh + 2rem);
  border-radius: 4px;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.2), -2px -2px 8px -4px rgba(0, 0, 0, 0.2);
}

.article-directory > a[data-level] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  cursor: pointer;
  display: block;
  padding: 2px 0;
  position: relative;
}

.article-directory > a[data-level]:hover {
  font-weight: bold;
  color: var(--sunray);
}

.article-directory > a[data-level]::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--border-grey);
  width: 3px;
  height: 100%;
}

.article-directory > a[data-level]:hover::before {
  background-color: var(--sunray);
}

.article-directory > a[data-level='h1'] {
  font-size: 1.5rem;
}

.article-directory > a[data-level='h2'] {
  padding: 2px 0 0 12px;
  font-size: 1.4rem;
}

.article-directory > a[data-level='h3'] {
  padding: 2px 0 0 24px;
  font-size: 1.3rem;
}

@media screen and (max-width: 1000px) {

  .article {
    margin: 0;
    padding: 1rem;
    box-shadow: none;
  }

  .reprint {
    margin: 1rem .4rem;
  }

  .reprint div {
    padding: 1.2rem 1rem;
  }

  .article-directory {
    display: none;
  }

  .markdown-body .highlight pre, .markdown-body pre ::after {
    display: none;
  }
}
