.article-header {
  font-size: 1.6rem;
  margin: 1rem 1rem 0 1rem;
}

.article {
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  border-radius: .8rem;
}

.article code {
  font-family: 'Monaco', 'Hack', Consolas, monospace !important;
}

.markdown-body .highlight pre, .markdown-body pre {
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  background: #f5f5f5;
  position: relative;
}

.markdown-body .highlight pre, .markdown-body pre ::after {
  content: 'copy';
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--sunray);
  padding: 0 4px;
  border-radius: 4px;
}

.markdown-body .highlight pre, .markdown-body pre ::after:active {
  background-color: var(--github-black);
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
}

.article-footer .item {
  white-space: pre;
}

@media screen and (max-width: 1000px) {
  .article {
    margin: 0;
    padding: 1rem;
    /* border-radius: .8rem; */
  }
}
