@keyframes search {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }

  to {
    opacity: 1;
  }
}

.search {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  animation-name: search;
  animation-duration: .5s;
}

.search-input-container {
  position: relative;
  margin: 60px auto;
  overflow: unset;
  width: 50vw;
  max-width: 720px;
  padding: unset;
  z-index: 99;
}

.search-input-container .type-container {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(2px);
  color: whitesmoke;
  box-shadow: 0px 0px 16px var(--black);
  border-radius: 8px;
  width: 100%;
  z-index: 5;
  padding: 1rem 2rem;
  margin: 1.2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.search-input-container .type-container div {
  border-radius: 4px;
  padding: 4px 8px;
}

.search-input-container .type-container div img {
  width: 36px; 
  height: 36px;
}

.search-input-container .type-container div:hover {
  background: rgba(255, 255, 255, .5);
}


.search-input {
  width: 100%;
  margin: 10px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  overflow: hidden;
}

.search-input input {
  flex: 1;
  height: 100%;
  padding: 0 8px;
  outline-style: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
}

.search-input .search-left-type {
  height: 50px;
  width: 50px;
  padding: 8px 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--white);
}

.search-input .search-left-type img {
  width: 32px;
  height: 32px;
}

.search-input .search-right-icon {
  height: 100%;
  padding: 0 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: var(--fulvous);
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input .search-right-icon img {
  width: 24px;
  height: 24px;
}

.search-input .search-right-icon span {
  margin-left: 1rem;
}

@media screen and (max-width: 1080px) {

  .search-input-container {
    width: 95vw;
  }

  .search-input .search-right-icon span {
    display: none;
  }

}