form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  overflow: hidden;
  font-size: 16px;
  padding: 2rem;
  margin: 1.5rem 1rem;
  background: var(--white);
  border-radius: .8rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

form fieldset {
  margin: 1rem 0;
  padding: .6rem 1rem;
  border: none;
  border-radius: 4px;
  background: #f5f5f5;
}

form input[type='file'] {
  margin: 10px 0;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

form input[type='text'] {
  overflow: hidden;
  margin: 5px 0;
  padding: 4px 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  font-family: var(--font-family);
}

form input[type='text']:focus {
  outline: none;
}

form input[type='checkbox'] {
  margin-right: .6rem;
}

form input[type='radio'] {
  margin: .4rem;
}

form input[type='button'], input[type='submit'] {
  padding: 4px 8px;
  background: var(--white);
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

input[type='button'], input[type='submit']:hover {
  background: rgba(0, 0, 0, 0.1);
}


input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: var(--font-family);
}

.edit {
  min-height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  white-space: pre;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.label-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.label-checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  /* background: var(--white); */
  margin: 0 6px;
  padding: 2px 4px;
}

form .tab {
  border-radius: 4px;
  padding: 2px 6px;
  margin-right: 4px;
  background: var(--sunray);
  color: var(--github-black);
}

.fieldset-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.fieldset-flex input[type='text'] {
  overflow: hidden;
  margin: 0 2rem;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
}
